.container {
  padding: 15px;
}

.filterBySection {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.filterBySection button {
  margin-left: 11px;
  margin-right: 11px;
}

.thumbnail {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  height: 60px;
  margin: 10px 0px;
}

.timestamp {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  color: #808080;
  margin-left: auto;
}